@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

@layer base {
  body {
    @apply dark:bg-primary-bg-dark bg-primary-bg text-primary-txt dark:text-primary-txt-dark;
  }
  h1 {
    @apply text-base uppercase font-bold text-primary-txt dark:text-primary-txt-dark;
  }
  h2 {
    @apply text-sm font-medium capitalize text-primary-txt dark:text-primary-txt-dark;
  }
  h3 {
    @apply text-sm font-medium capitalize text-primary-txt dark:text-primary-txt-dark;
  }
  p {
    @apply text-sm font-normal capitalize text-primary-txt dark:text-primary-txt-dark;
  }
  ::-webkit-scrollbar {
    @apply w-[8px] h-[3px] bg-primary-bg dark:bg-primary-bg-dark;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-accent dark:bg-primary-accent-dark rounded-md;
  }
}

@layer components {
  .search {
    @apply border-2 border-primary-borders dark:border-primary-borders-dark rounded-md outline-none bg-transparent p-1 text-primary-txt dark:text-primary-txt-dark placeholder:text-secondary-txt dark:placeholder:text-secondary-txt-dark text-sm lg:w-full;
  }
  .link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer duration-300 font-medium cursor-pointer;
  }

  .active {
    @apply bg-primary-accent dark:bg-primary-accent-dark text-primary-overlay-txt dark:text-primary-txt-dark font-semibold;
  }

  .active-secondary {
    @apply bg-secondary-accent dark:bg-secondary-accent-dark;
  }

  .input {
    @apply border-2 border-primary-borders dark:border-primary-borders-dark rounded-md bg-transparent outline-none p-1 text-sm
    placeholder:text-sm text-primary-txt dark:text-primary-txt-dark font-medium;
  }

  .input-signup-login {
    @apply border-none bg-transparent w-full outline-none font-medium text-base placeholder:font-medium placeholder:text-sm placeholder:text-primary-txt dark:placeholder:text-primary-txt-dark;
  }

  .icon-signup-login {
    @apply placeholder:text-primary-txt dark:placeholder:text-primary-txt-dark;
  }

  .container-signup-login {
    @apply w-full h-full flex gap-2 justify-start items-center p-2;
  }

  .option {
    @apply bg-secondary-bg dark:bg-secondary-bg-dark capitalize text-sm font-normal;
  }

  .dark .react-datepicker__header {
    @apply dark:bg-secondary-bg-dark border-primary-borders-dark;
  }

  .dark .react-datepicker__current-month,
  .dark .react-datepicker__header__dropdown {
    @apply dark:bg-secondary-bg-dark font-medium dark:text-secondary-txt-dark;
  }

  .dark .react-datepicker__day-names {
    @apply dark:bg-secondary-bg-dark font-medium;
  }

  .dark .react-datepicker__day-name {
    @apply dark:text-secondary-txt-dark font-medium;
  }

  .dark .react-datepicker__day--selected,
  .dark .react-datepicker__day--keyboard-selected {
    @apply dark:bg-primary-accent-dark dark:text-primary-txt-dark;
  }

  .dark .react-datepicker__day {
    @apply hover:bg-primary-bg-dark dark:text-secondary-txt-dark;
  }

  .dark .react-datepicker__day--in-range,
  .dark .react-datepicker__day--in-selecting-range {
    @apply dark:bg-primary-bg-dark dark:text-primary-txt-dark;
  }

  .datepicker {
    @apply bg-secondary-bg p-2 rounded-md border border-primary-borders outline-none text-primary-txt text-sm font-medium placeholder:text-primary-txt placeholder:font-normal placeholder:text-sm dark:bg-secondary-bg-dark dark:border-primary-borders-dark dark:text-primary-txt-dark dark:placeholder:text-primary-txt-dark cursor-pointer;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* Show only 2 lines */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Show only 2 lines */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* REACT DATEPICKER STYLES */
.react-datepicker__current-month,
.react-datepicker__header__dropdown {
  font-weight: 500;
  color: #1e1f24;
}

/* Errors */

div.error {
  border-bottom: 1px solid #f44336;
}
