@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

@layer base {
  body {
    @apply dark:bg-primary-bg-dark bg-primary-bg text-primary-txt dark:text-primary-txt-dark;
  }
  h1 {
    @apply text-xl font-medium capitalize text-primary-txt dark:text-primary-txt-dark;
  }
  p {
    @apply text-base font-normal capitalize text-primary-txt dark:text-primary-txt-dark;
  }
}

@layer components {
  .search {
    @apply border-2 border-primary-borders dark:border-primary-borders-dark rounded-md outline-none bg-transparent p-1 text-primary-txt dark:text-primary-txt-dark placeholder:text-secondary-txt dark:placeholder:text-secondary-txt-dark text-sm;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-primary-accent dark:bg-primary-accent-dark text-primary-overlay-txt dark:text-primary-txt-dark font-semibold;
}

.active-secondary {
  @apply bg-secondary-accent dark:bg-secondary-accent-dark;
}
